
*.ekv
*.vpk
*.vdf
*360.*
*.lst
*.scr
## Core Game Files
bin/*
left4dead2/*.*
left4dead2/addons/*
left4dead2/bin/*
left4dead2/gfx/*
left4dead2/downloads/*
left4dead2/expressions/*
left4dead2/maps/*
left4dead2/media/*
left4dead2/models/*
left4dead2/materials/correction/*
left4dead2/materials/cubemaps/*
left4dead2/materials/editor/*
left4dead2/materials/temp/*
left4dead2/materials/vgui/fonts/*
left4dead2/materials/models/*
left4dead2/reslists/*
left4dead2/resource/*
left4dead2/save/*
left4dead2/scenes/*
left4dead2/sound/*
left4dead2/update/*
hl2/*
left4dead2_dlc*
platform/*
left4dead2.exe
left4dead2.ico
steam_appid.txt
## Valve Config Files
config_default.cfg
undo360controller.cfg
left4dead2/cfg/valve.rc
left4dead2/cfg/joy_preset_*.cfg
splitscreen_*.cfg
left4dead2/cfg/*360*
left4dead2/cfg/skill1.cfg
left4dead2/cfg/videodefaults.txt
left4dead2/cfg/modsettings.cfg
left4dead2/cfg/moddefaults.txt
left4dead2/cfg/lowend.cfg
left4dead2/cfg/perf.cfg
left4dead2/cfg/screenshots.cfg
left4dead2/cfg/screenshots_undo.cfg
left4dead2/cfg/listenserver.cfg
left4dead2/cfg/test_end.cfg
left4dead2/cfg/video.txt
left4dead2/cfg/test_start.cfg